body {
    font-family: Arial, sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    background: #344051;
}

.logo {
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
}

.menu {
    float: left;
    padding-left: 470px;
}

.menu li {
    float: left;
    line-height: 60px;
    color: white;
    margin-right: 80px;
    font-size: 16px;
    text-transform: capitalize;

}

.main {
    width: 100%;
    height: 100%;
    background: url(boy.png) 90% 100%/auto 85% no-repeat, url(bg.png) center/cover no-repeat;
}

.title__container {
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;

}

.title__container h1 {
    font-size: 60px;
    font-weight: bold;
}

.title__container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    font-size: 13px;
    padding: 0px 16px;
    margin: 50px 14px 0px 14px;
}

.aboutme {
    background: url(bad.png) center 30%/auto 50% no-repeat;
    width: 100%;
    height: 100%;
    float: left;
}
.gol h2{
    margin-top: 70px ;
    text-align: center;
    font-weight: 700 0 0;
    font-size: 50px;
    text-transform: capitalize;
}
.about span{
    display: block;
    float: left;
    margin: 530px;
    text-align: center;
    color: yellow;
    text-align: center;
    padding: 0px 0px 0px 0px;
}
.about p{
    float: left;
    color: aqua;
}
